#include <definitions>

__ACLASS __BGN
  __NAME ACTION_BUTTON_DRAG
  __TOOLTIP_TEXT "Click and drag to move desktop"
  __TOOLTIP_TEXT "(on any desktop but desktop 0)"
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_PRESS
  __ACTION __A_DRAG_BUTTON
__END


__ACLASS __BGN
  __NAME ACTION_GOTO_DESK_NEXT
  __TOOLTIP_TEXT "Go to the next Desktop."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_DESKTOP_NEXT
__END

__ACLASS __BGN
  __NAME ACTION_GOTO_DESK_PREV
  __TOOLTIP_TEXT "Go to the previous Desktop."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_DESKTOP_PREV
__END

__ACLASS __BGN
  __NAME ACTION_MOVE
  __TOOLTIP_TEXT "Hold down left mouse button and drag to move this Window."
  __TOOLTIP_TEXT "Double click left mouse button to [un]shade this window."
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_PRESS
  __BUTTON 1
  __ACTION __A_MOVE
  __NEXT_ACTION
  __BUTTON 2
  __ACTION __A_SHADE
  __NEXT_ACTION
  __EVENT __MOUSE_PRESS
  __BUTTON 3
  __ACTION __A_SHOW_MENU "named WINOPS_MENU"
  __NEXT_ACTION
  __EVENT __DOUBLE_CLICK
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_SHADE
__END

__ACLASS __BGN
  __NAME ACTION_RESIZE
  __TOOLTIP_TEXT "Hold down left mouse button and drag to resize this window in any"
  __TOOLTIP_TEXT "direction. Clicking right mouse button and dragging the mouse"
  __TOOLTIP_TEXT "around will move the window about instead."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_PRESS
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_RESIZE
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_MOVE
__END

__ACLASS __BGN
  __NAME ACTION_RESIZE_H
  __TOOLTIP_TEXT "Hold down left mouse button and drag to resize this window"
  __TOOLTIP_TEXT "horizontally. Clicking right mouse button and dragging the mouse"
  __TOOLTIP_TEXT "around will move the window about instead."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_PRESS
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_RESIZE_H
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_MOVE
__END

__ACLASS __BGN
  __NAME ACTION_RESIZE_V
  __TOOLTIP_TEXT "Hold down left mouse button and drag to resize this window"
  __TOOLTIP_TEXT "vertically. Clicking right mouse button and dragging the mouse"
  __TOOLTIP_TEXT "around will move the window stripchart instead."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_PRESS
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_RESIZE_V
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_MOVE
__END

__ACLASS __BGN
  __NAME ACTION_KILL
  __TOOLTIP_TEXT "Clicking left mouse button will kill this window. Clicking"
  __TOOLTIP_TEXT "right mouse button will forcibly destroy this window."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_KILL
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_KILL_NASTY
__END

__ACLASS __BGN
  __NAME ACTION_MAXH
  __TOOLTIP_TEXT "Toggle the height of this window between maximum screen height"
  __TOOLTIP_TEXT "and normal height."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_MAX_HEIGHT
__END

__ACLASS __BGN
  __NAME ACTION_MAXW
  __TOOLTIP_TEXT "Toggle the width of this window between maximum screen width"
  __TOOLTIP_TEXT "and normal width."
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_MAX_WIDTH
__END

__ACLASS __BGN
  __NAME ACTION_MAX
  __TOOLTIP_TEXT "Toggle the size of this window between maximum screen size"
  __TOOLTIP_TEXT "and normal size."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_MAX_SIZE
__END

__ACLASS __BGN
  __NAME ACTION_SEND_NEXT
  __TOOLTIP_TEXT "Send this Window to the next desktop."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_SEND_TO_NEXT_DESK
__END

__ACLASS __BGN
  __NAME ACTION_SEND_PREV
  __TOOLTIP_TEXT "Send this Window to the previous desktop."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_SEND_TO_PREV_DESK
__END

__ACLASS __BGN
  __NAME ACTION_SNAPSHOT
  __TOOLTIP_TEXT "This button does nothing interesting."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SNAPSHOT
__END

__ACLASS __BGN
  __NAME ACTION_SHADE
  __TOOLTIP_TEXT "This button toggles the shaded (Rolled up) state of this Window."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SHADE
__END

__ACLASS __BGN
  __NAME ACTION_ICONIFY
  __TOOLTIP_TEXT "Click on this button to Iconify (Minimize) this window."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __EVENT __MOUSE_RELEASE
  __BUTTON 1
  __ACTION __A_ICONIFY
  __NEXT_ACTION
  __EVENT __MOUSE_PRESS
  __BUTTON 3
  __ACTION __A_SHOW_MENU "named WINOPS_MENU"
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT
  __TOOLTIP_TEXT "Click on this button to bring up a bar of more buttons to control"
  __TOOLTIP_TEXT "the Window with."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT mainwindowslider
__END

__ACLASS __BGN
  __NAME ACTION_RAISE
  __TOOLTIP_TEXT "Click on this button to raise this window to the top."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_RAISE
__END

__ACLASS __BGN
  __NAME ACTION_LOWER
  __TOOLTIP_TEXT "Click here to lower this window."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_LOWER
__END

__ACLASS __BGN
  __NAME ACTION_STICK
  __TOOLTIP_TEXT "Click on this button to toggle the sticky (is visible on all"
  __TOOLTIP_TEXT "Desktops) state of this window. The border will look different"
  __TOOLTIP_TEXT "when the window is sticky."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_STICK
__END

__ACLASS __BGN
  __NAME ACTION_EXEC_TERMINAL
  __TOOLTIP_TEXT "Terminal Emulators:"
  __TOOLTIP_TEXT "Button 1: Eterm"
  __TOOLTIP_TEXT "Button 2: rxvt"
  __TOOLTIP_TEXT "Button 3: xterm"
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_EXEC Eterm
  __NEXT_ACTION
  __BUTTON 2
  __ACTION __A_EXEC rxvt
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_EXEC xterm
__END

__ACLASS __BGN
  __NAME ACTION_EXEC_MAIL
  __TOOLTIP_TEXT "Mail Readers:"
  __TOOLTIP_TEXT "Button 1: tkrat"
  __TOOLTIP_TEXT "Button 2: balsa"
  __TOOLTIP_TEXT "Button 3: mutt"
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_EXEC tkrat
  __NEXT_ACTION
  __BUTTON 2
  __ACTION __A_EXEC balsa
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_EXEC Eterm -e mutt
__END

__ACLASS __BGN
  __NAME ACTION_EXEC_WEB
  __TOOLTIP_TEXT "Netscape"
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_EXEC netscape
__END

__ACLASS __BGN
  __NAME ACTION_EXEC_MUSIC
  __TOOLTIP_TEXT "eMusic"
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_EXEC emusic
  __NEXT_ACTION
  __BUTTON 2
  __ACTION __A_EXEC emusic -T Sinskin
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_EXEC emusic -T Alitek2
__END

__ACLASS __BGN
  __NAME ACTION_EXEC_IMAGEVIEW
  __TOOLTIP_TEXT "Image Viewing Apps:"
  __TOOLTIP_TEXT "Button 1: ee"
  __TOOLTIP_TEXT "Button 2: display"
  __TOOLTIP_TEXT "Button 3: xv"
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_EXEC ee
  __NEXT_ACTION
  __BUTTON 2
  __ACTION __A_EXEC display
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_EXEC xv
__END

__ACLASS __BGN
  __NAME ACTION_EXEC_PAINT
  __TOOLTIP_TEXT "Drawing Apps:"
  __TOOLTIP_TEXT "Button 1: gimp"
  __TOOLTIP_TEXT "Button 2: xpaint"
  __TOOLTIP_TEXT "Button 3: xfig"
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_EXEC gimp
  __NEXT_ACTION
  __BUTTON 2
  __ACTION __A_EXEC xpaint
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_EXEC xfig
__END

__ACLASS __BGN
  __NAME ACTION_EXEC_EDIT
  __TOOLTIP_TEXT "Text Editor"
  __TOOLTIP_TEXT "Button 1: emacs"
  __TOOLTIP_TEXT "Button 2: gedit"
  __TOOLTIP_TEXT "Button 3: jed"
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_EXEC emacs
  __NEXT_ACTION
  __BUTTON 2
  __ACTION __A_EXEC gedit
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_EXEC Eterm -e jed
__END

__ACLASS __BGN
  __NAME ACTION_EXEC_CONFIG
  __TOOLTIP_TEXT "Click on this button to configure Enlightenment."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_EXEC ENLIGHTENMENT_BIN/ConfigEdit
__END

__ACLASS __BGN
  __NAME ACTION_ACTION_EXIT
  __TOOLTIP_TEXT "Click on this button to Exit Enlightenment."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_EXIT
__END

__ACLASS __BGN
  __NAME RESTART
  __TOOLTIP_TEXT "BLUE: Button1: Click here to Restart Enlightenment."
  __TOOLTIP_TEXT "BLUE: Button3: Exit Enlightenment."
  __TOOLTIP_TEXT "GREEN: GMC - If you need it"
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_EXIT logout
  __NEXT_ACTION
  __BUTTON 3
  __ACTION __A_EXIT restart
__END

__ACLASS __BGN
  __NAME ACTION_ACTION_HELP
  __TOOLTIP_TEXT "Click here to read the online documentation on how to use"
  __TOOLTIP_TEXT "Enlightenment. It is highly recommend you do this if you are"
  __TOOLTIP_TEXT "unfamiliar with Enlightenment."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_EXEC  ENLIGHTENMENT_BIN/dox  ENLIGHTENMENT_ROOT/E-docs
__END

__ACLASS __BGN
  __NAME ACTION_ACTION_CLEANUP
  __TOOLTIP_TEXT "Clean up all the windows on your desktop so they are all neat"
  __TOOLTIP_TEXT "and tidy."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_CLEANUP size
__END

__ACLASS __BGN
  __NAME ACTION_ACTION_DESKRAY
  __TOOLTIP_TEXT "Turn Deskrays on (Display handles for all desktops to enable"
  __TOOLTIP_TEXT "dragging of desktops whose dragbars are not visible)."
  __TYPE __TYPE_NORMAL
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_DESKRAY
__END

__ACLASS __BGN
  __NAME ACTION_MENU
  __TOOLTIP_TEXT "Window Options Menu"
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_BUTTON __ON
  __ACTION __A_SHOW_MENU "named WINOPS_MENU"
__END

/**************************************************************/

#include <wharf/wharf_actions.cfg>
#include <wharf/slides/slides.cfg>
