#include <definitions>
__E_CFG_VERSION 0
#include <coords/coords.cfg>
#include <dialogs/dialogs.cfg>
#include <dragbar/dragbar.cfg>
#include <focuslist/focuslist.cfg>
#include <iconbox/iconbox.cfg>
#include <pager/pager.cfg>
#include <dock/dock.cfg>
#include <eterm/eterm.cfg>
#include <epplets/epplets.cfg>
#include <backgrounds/backgrounds.cfg>

__ICLASS __BGN
  __NAME BAR
  __NORMAL "common/images/bar_normal.png"
  __EDGE_SCALING 4 4 4 4
  __HILITED "common/images/bar_hilited_active.png"
  __EDGE_SCALING 4 4 4 4
  __CLICKED "common/images/bar_clicked_active.png"
  __EDGE_SCALING 4 4 4 4
  __NORMAL_ACTIVE "common/images/bar_normal_active.png"
  __EDGE_SCALING 4 4 4 4
  __HILITED_ACTIVE  "common/images/bar_hilited_active.png"
  __EDGE_SCALING 4 4 4 4
  __CLICKED_ACTIVE "common/images/bar_clicked_active.png"
  __EDGE_SCALING 4 4 4 4
  __PADDING 4 4 2 4
__END

__ICLASS __BGN
  __NAME BEVEL_BG
  __NORMAL "common/images/bevel_bg_normal.png"
  __EDGE_SCALING 3 3 3 3
  __HILITED "common/images/bevel_bg_hilited.png"
  __EDGE_SCALING 3 3 3 3
  __CLICKED "common/images/bevel_bg_clicked.png"
  __EDGE_SCALING 3 3 3 3
  __NORMAL_ACTIVE "common/images/bevel_bg_active.png"
  __EDGE_SCALING 3 3 3 3
  __HILITED_ACTIVE "common/images/bevel_bg_hilited.png"
  __EDGE_SCALING 3 3 3 3
  __CLICKED_ACTIVE "common/images/bevel_bg_clicked.png"
  __EDGE_SCALING 3 3 3 3
  __PADDING 3 3 3 3
__END

__ICLASS __BGN
  __NAME MENU_IMG
  __NORMAL "common/images/menu_normal.png"
  __EDGE_SCALING 0 18 0 0
  __HILITED "common/images/menu_selected.png"
  __EDGE_SCALING 3 15 3 3
  __PADDING 3 18 3 3
__END

__ICLASS __BGN
  __NAME EMPTY
  __NORMAL "common/images/empty.png"
__END

__ICLASS __BGN
  __NAME BLACK
  __NORMAL "common/images/black.png"
__END

 /*
######################################
# Right Bar
######################################
*/

__ICLASS __BGN
  __NAME b1
  __NORMAL "buttons/images/button1.png"
  __CLICKED "buttons/images/button1.png"
  __HILITED "buttons/images/button1.png"
__END

__ICLASS __BGN
  __NAME b2
  __NORMAL "buttons/images/button2-norm.png"
  __CLICKED "buttons/images/button2-norm.png"
  __HILITED "buttons/images/button2-norm.png"
__END

__ICLASS __BGN
  __NAME b3
  __NORMAL  "buttons/images/button3-norm.png"
  __CLICKED "buttons/images/button3-norm.png"
  __HILITED "buttons/images/button3-norm.png"
__END

__ICLASS __BGN
  __NAME b4
  __NORMAL "buttons/images/button4-norm.png"
  __CLICKED "buttons/images/button4-norm.png"
  __HILITED  "buttons/images/button4-norm.png"
__END

__ICLASS __BGN
  __NAME b5
  __NORMAL   "buttons/images/button5-norm.png"
  __CLICKED "buttons/images/button5-norm.png"
  __HILITED  "buttons/images/button5-norm.png"
__END
