#include <definitions>
/* The short convenient way */
/* Format:
 * ("glob_for_title", "border_name")
 * 
 * NB: glob_for_title can be a title with possible *'s to match like:
 * "*etscape*"
 */
USE_BORDER_FOR_CLIENT_WITH_TITLE("The GIMP", "FIXED_SCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("xclock", "FIXED_MENU")
USE_BORDER_FOR_CLIENT_WITH_TITLE("UserNet", "FIXED_SCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*tartup*", "STARTUP")

/* example on setting icon for a program */
USE_ICON_IMAGE_FOR_CLIENT_CLASS("XClock", "pix/wait1.png")
USE_ICON_IMAGE_FOR_CLIENT_CLASS("netscape", "pix/netscape.png")

/* ALSO available for use (the same way as above) */
/* note the same globbing with *'s applies for name and class fields */
/*
USE_BORDER_FOR_CLIENT_WITH_NAME(name, border_name)
USE_BORDER_FOR_CLIENT_WITH_CLASS(class, border_name)
USE_ICON_IMAGECLASS_FOR_CLIENT_TITLE(title, icon_class_name)
USE_ICON_IMAGECLASS_FOR_CLIENT_NAME(name, icon_class_name)
USE_ICON_IMAGECLASS_FOR_CLIENT_CLASS(class, icon_class_name)
USE_ICON_IMAGE_FOR_CLIENT_TITLE(title, icon_image_filename)
USE_ICON_IMAGE_FOR_CLIENT_NAME(name, icon_image_filename)
USE_ICON_IMAGE_FOR_CLIENT_CLASS(class, icon_image_filename)
*/